@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

:root {
	--transition: all 0.3s ease-in-out;
	--transition-default: all 0.3s ease-in-out;

	--primary-color: #029ee9;
	--secondary-color:#ba2b4d;

}

body {
	font: 400 14px/1.3 'Mulish', sans-serif;
	width: 100%;
}

a, a:hover, a:focus {
	outline: none;
	text-decoration: none;
	cursor: pointer;
	-o-transition: var(--transition);
	transition: var(--transition);
	-webkit-transition: var(--transition);
}

button, button:hover, button:focus {
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
	text-decoration: none;
	cursor: pointer;
	-o-transition: var(--transition);
	transition: var(--transition);
	-webkit-transition: var(--transition);
}

input,
select,
textarea {
	-o-transition: var(--transition);
	transition: var(--transition);
	-webkit-transition: var(--transition);
}

input:focus,
textarea:focus,
select:focus,
button:focus,
.select2-container--bootstrap-5.select2-container--focus .select2-selection,
.select2-container--bootstrap-5.select2-container--open .select2-selection {
	outline: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	border-color: var(--primary-color) !important;
}

.fs-normal,
.fs-normal ~ .select2-container--bootstrap-5 * {
	font-size: 14px !important;
}

.transition-default {
	-o-transition: var(--transition);
	transition: var(--transition);
	-webkit-transition: var(--transition);
}

.pseudo {
	position: relative;
	overflow: hidden;
}

.pseudo:before,
.pseudo:after {
	position: absolute;
	content: "";
	display: block;
}

.background-cover {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.object-fit-cover {
	-o-object-fit: cover;
	object-fit: cover;
}

.object-fit-contain {
	-o-object-fit: contain;
	object-fit: contain;
}

.limit-lines {
	--lines: 3;
	display: inline-block;
	display: -webkit-box;
	width: 100%;
	line-clamp: var(--lines);
	-webkit-line-clamp: var(--lines);
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	overflow: hidden;
}

.hidden-effect {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.hidden-effect:hover {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.z-index-0 {
	z-index: 0;
}

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.z-index-3 {
	z-index: 3;
}

.z-index-4 {
}

.z-index-5 {
	z-index: 5;
}

.z-index-10 {
	z-index: 10;
}

/*
    Start table of content
*/
.theme-toc {
	border: 1px solid #e9e9e9;
	background: #faf9fa;
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 15px;
	min-width: 200px;
}

.theme-toc > .nav {
	padding: 0 0 8px;
	width: 100%;
}

.theme-toc .nav {
	display: inline-flex;
	flex-direction: column;
}

.theme-toc .nav > li > a {
	padding-top: 3px;
	padding-right: 15px;
	padding-bottom: 3px;
	display: block;
	color: var(--bs-gray-dark);
	font-size: .95rem;
}

.theme-toc .nav > li > a:hover,
.theme-toc .nav > li > a:active {
	color: var(--primary-color);
}

.theme-toc .nav > li > a.toc-link-1 {
	padding-left: 15px;
}

.theme-toc .nav > li > a.toc-link-2 {
	padding-left: 30px;
}

.theme-toc .nav > li > a:not(.toc-link-1):before {
	content: "-";
	margin-right: 9px;
}

.theme-toc .nav > li > a.toc-link-3 {
	padding-left: 45px;
}

.theme-toc .nav > li > a.toc-link-4 {
	padding-left: 60px;
}

.theme-toc .nav > li > a.toc-link-5 {
	padding-left: 75px;
}

.theme-toc .nav > li > a.toc-link-6 {
	padding-left: 90px;
}

.theme-toc .nav > li.toc-heading {
	background-color: #f5f5f5;
	border-bottom: 1px solid #dddddd;
	padding: 0;
	margin-bottom: 5px;
	width: 100%;
}

.theme-toc .nav > li.toc-heading > p {
	color: var(--bs-gray-dark);
	padding: 10px 0 12px;
	text-align: center;
	font-weight: 600;
	font-size: 1rem;
	display: block;
	margin-bottom: 0;
}

.theme-toc .nav > li.toc-heading > p > a {
	color: var(--primary-color);
	margin-left: 4px;
	font-size: .9rem;
}

.theme-toc .nav > li.toc-heading > p > a:hover,
.theme-toc .nav > li.toc-heading > p > a:active {
	color: var(--primary-hover);
}

.theme-toc .nav .nav {
	margin-bottom: 0;
}

@media screen and (max-width: 600px) {
	.theme-toc {
		width: 100%;
	}

	.theme-toc .nav > li.toc-heading > p {
		font-size: 1em;
	}

	.theme-toc .nav > li > a {
		font-size: .95em;
	}

}

.swal2-popup .swal2-title {
	font-size: 1.2em;
	color: var(--text-color);
	font-weight: 800;
}

.swal2-popup .swal2-html-container {
	color: var(--bs-gray-700);
	font-size: 1.05em;
	font-weight: 600;
}

.swal2-actions {
	flex-direction: row-reverse;
}

.swal2-popup .swal2-confirm,
.swal2-popup .swal2-cancel,
.swal2-popup .swal2-deny {
	font-size: .95em !important;
	font-weight: 800;
	text-transform: uppercase;
	padding: 8px 30px;
	border-radius: 25px;
	transition: var(--transition-default);
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	letter-spacing: .5px;
}

.swal2-popup .swal2-confirm {
	border: 1px solid var(--primary-color);
	background: var(--primary-color);
	color: var(--bs-white);
}

.ratio > img,
.ratio > video,
.ratio > iframe {
	-o-object-fit: cover;
	object-fit: cover;
}

.ratio-2x1 {
	--bs-aspect-ratio: 50%;
}

.ratio-3x2 {
	--bs-aspect-ratio: calc(2 / 3 * 100%);
}

.ratio-3x4 {
	--bs-aspect-ratio: calc(4 / 3 * 100%);
}

/* ==== Lazyload ==== */

img.lazy {
	opacity: 0;
}

img.initial,
img.loaded,
img.error {
	opacity: 1;
}

img:not([src]):not([srcset]) {
	visibility: hidden;
}

/* ==== End Lazyload ==== */

.is-overflow {
	overflow: hidden !important;
	height: 100vh !important;
}

.zalo-share-button iframe {
	z-index: 2 !important;
}

main{
	padding-top: 160px;
}
.text-3-line {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}

.text-2-line {
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
}
